@use '../../scss/colors';

:host(.color--01) {
  .was-validated {
    background-color: green;
    color: colors.$g-root__color--primary--01a;
  }

  .is-invalid {
    background-color: pink;
  }
}
